.box {
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: 100vh;
  position: relative;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 2;
}

.logout {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prompt {
  border-radius: 50%;
  min-width: 14px;
  height: 14px;
  background-color: red;
  text-align: center;
  line-height: 14px;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  padding-bottom: 10px;
}

.list {
  list-style: none;
  padding-left: 0 !important;
}

.list li {
  margin-top: 20px;
}

.chatBox {
  height: 50vh;
  /* border-bottom: 1px solid rgba(5, 5, 5, 0.06); */
  overflow-y: scroll;
  padding: 0 20px;
}

.chatBoxInput {
  position: relative;
  height: 26%;
  border-top: 1px solid rgba(5, 5, 5, 0.06);
}

.userList {
  height: 560.275px;
  overflow-y: auto;
  /* padding: 0 20px; */
}


.userListTabs {
  position: fixed;
  width: 22%;
  height: 40px;
  bottom: 0;
  font-size: 16px;
  border-top: 1px solid rgba(5, 5, 5, 0.06);
  display: flex;
  justify-content: space-around;
}

.userListTabs div {
  width: 50%;
  text-align: center;
  height: 100%;
  line-height: 36px;
  cursor: pointer;
}

.userListTabs div:nth-child(1) {
  border-right: 1px solid rgba(5, 5, 5, 0.06);
  ;
}

.activeTabs {
  background-color: rgba(22, 119, 255, 0.1);
}

/*滚动条整体粗细样式*/
::-webkit-scrollbar {
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 5px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  /* 颜色 */
  /* background:#b6b6b6!important; */
  /* 线性渐变背景 */
  background-color: #fff;
}

.userList:hover::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
}

.chatBox:hover::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
}

.chatBoxTop {
  position: relative;
}

.onlineType {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 40px;
}

.onlineType img {
  width: 100%;
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
  border-radius: 5px !important;
  background: #FFF !important;
}

.cardStyle {
  max-width: 70%;
  overflow: hidden;
  word-wrap: break-word;
  border-radius: 5px;
  background-color: #ebebeb;
}

.myCardStyle {
  max-width: 70%;
  overflow: hidden;
  word-wrap: break-word;
  border-radius: 5px;
  background-color: green;
  margin: 10px 8px 0 0;
  padding: 5px 10px;
  color: #FFF;
}

.otherCardStyle {
  max-width: 70%;
  overflow: hidden;
  word-wrap: break-word;
  border-radius: 5px;
  background-color: #ebebeb;
  margin: 20px 0 0 8px;
  padding: 5px 10px;
}

.iconStyle {
  font-size: 18px;
  margin-top: 2px;
  margin-right: 10px;
  color: #969696;
}

.myImgBox {
  width: 180px;
  margin: 10px 8px 0 0;
}

.otherImgBox {
  width: 180px;
  margin: 20px 0 0 8px;
}

.msgImg {
  border-radius: 5px;
  width: 100%;
}

.emojiBox {
  z-index: 999;
  position: absolute;
  bottom: 28px;
}

.funcBox {
  height: 100%;
  position: relative;
}

.funcBtnBox {
  height: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.funcBtnBox div {
  margin-bottom: 10px;
}

.funcBtnBox div img {
  width: 50%;
  cursor: pointer;
}

.funcSet {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.funcSet img {
  width: 52%;
  cursor: pointer;
}

.welcomeSvg {
  width: 55%;
  position: absolute;
  top: 15%;
  right: 8%;
}

.messagetips {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}