.box {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fromBox {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}